Brainstorm data sources
Metro stations
Weather
Popularity (instagram checkins)
Altitude
Crime
Population data (migration)
Employers
Distance to a McDonald
Whatever distance
Cluster similar housing prices
Closest green areas
Traffic (big roads)
Noise
Politics 
Ethnicity
Age
Supermarkets

Plan:
find exploratory question + backup
See what data would most relevant based on brainstorm
Get data (API, scraping, whatever)
Clean data, preliminary analysis
Make model(s) for prediction question
Make model for exploratory question

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Households Data.csv')

In [7]:
cols=df.columns.tolist()

In [4]:
old_tags=['Hogar',
    'EXCLUIR',
    'paraValidacion',
    'Sector',
    'DirCoordX',
    'DirCoordY',
    'MontoArr',
    'IngresoHogar',
    'Factor',
    'AnosEstudio',
    'CLASE',
    'Sup_Prom_Constr_Hab_EOD',
    'Calid_EOD_norm_inv',
    'DensConstr_EOD',
    'Dist_est_Metro_MC_KM',
    'Dist_salida_Autop_MC_KM',
    'Tiempo_Com_Stgo',
    'Ingreso_Promedio_Zona_MM',
    'Acc_Comercio_tpte_pub',
    'Acc_Educacion_tpte_pub',
    'Acc_Habitacion_tpte_pub',
    'Acc_Industria_tpte_pub',
    'Acc_Servicios_tpte_pub',
    'Acc_Comercio_auto',
    'Acc_Educacion_auto',
    'Acc_Habitacion_auto',
    'Acc_Industria_auto',
    'Acc_Servicios_auto',
    'CLUSTER7',
    'CLUSTER2']

new_tags=['household_id',
    'excluded',
    'validation',
    'sector',
    'coord_x',
    'coord_y',
    'rent',
    'income_household',
    'factor',
    'education_years',
    'CLASS',
    'built_surface_in_zone',
    'construction_quality_in_zone',
    'built_density_of_zone',
    'dist_metro',
    'dist_highway',
    'duration_cbd',
    'income_zonal',
    'accessibility_transit_commerce',
    'accessibility_transit_education',
    'accessibility_transit_habitation',
    'accessibility_transit_industry',
    'accessibility_transit_service',
    'accessibility_car_commerce',
    'accessibility_car_education',
    'accessibility_car_habitation',
    'accessibility_car_industry',
    'accessibility_car_service',
    'cluster7',
    'cluster2']

rename=dict()
for c,i in enumerate(old_tags):
    rename[i]=new_tags[c]

In [5]:
df.rename(columns=rename,inplace=True)

In [6]:
df.head()

,household_id,excluded,validation,sector,coord_x,coord_y,rent,income_household,factor,education_years,...,accessibility_transit_habitation,accessibility_transit_industry,accessibility_transit_service,accessibility_car_commerce,accessibility_car_education,accessibility_car_habitation,accessibility_car_industry,accessibility_car_service,cluster7,cluster2
0,100010,0,0,7,335180.8019,6266420.975,100000,450845,136.393738,11,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1
1,100020,0,0,7,338410.2114,6265607.141,120000,1019369,73.843597,11,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1
2,100030,0,0,7,327863.8248,6257800.086,70000,80000,180.722809,10,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1
3,100041,0,0,7,327864.0000,6257800.000,80000,559259,150.379059,14,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1
4,100052,0,0,7,338480.8152,6267296.941,117771,710309,122.001518,12,...,6110.62492,671.08681,719.84272,3036.41,1781.81,30505.65,2853.19,3058.03,3,1

In [18]:
df['household_id'].min()

100010

In [20]:
unique={}
not_unique={}
for i in new_tags:
    if len(df[i].unique()) <25:
        unique[i]=df[i].unique()
        print(i, df[i].unique())
    else:
        not_unique[i]=[df[i].min(),df[i].max()]
        print(i+'_range', df[i].min(),df[i].max())

household_id_range 100010 743823
excluded [0 1]
validation [0 1]
sector [7 5 2 1 6 4 3]
coord_x_range 284961.6065 380254.9555
coord_y_range 6257254.642000001 6327816.79
rent_range 10000 5000000
income_household_range 0 14800000
factor_range 5.151379 927.142761
education_years [ 11  10  14  12   9  15  17   8 -99  16   6   7   5   0  13   4  18  19
  21  22  24  20  23]
CLASS [  1   2   3 -99]
built_surface_in_zone_range 0.0 207.3
construction_quality_in_zone [0.98 1.   0.78 0.93 0.36 0.55 0.  ]
built_density_of_zone_range 0.0 4.599
dist_metro_range 0.014241666000000002 59.05576039
dist_highway_range 0.012117453 21.28473228
duration_cbd_range -99 202
income_zonal_range 0.147514 4.957229
accessibility_transit_commerce_range -99.0 6096.1181
accessibility_transit_education_range -99.0 3151.93234
accessibility_transit_habitation_range -99.0 44854.37616
accessibility_transit_industry_range -99.0 4536.55703
accessibility_transit_service_range -99.0 7713.39615
accessibility_car_commerce_range -99.0 8583.06
accessibility_car_education_range -99.0 4681.26
accessibility_car_habitation_range -99.0 75774.78
accessibility_car_industry_range -99.0 7260.03
accessibility_car_service_range -99.0 10000.68
cluster7 [3 5 2 7 1 6 4]
cluster2 [1 2]